.asideMenu{
    display: flex;
    flex-direction: column;
    gap: 13px;

    padding: 10px;

    border-right: 1px solid #E7E7E7 ;

    background-color: #FCFCFC;

    width: 250px;
    height: 100%;
}

.asideMenu_category{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.asideMenu_folders{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.folders_h{
    position: relative;

    display: flex;
    flex-direction: row;

    font-size: 28px;
    font-family: var(--font-main);
    font-weight: 400;
}
.folders__button{
    position: absolute;
    margin-left: 205px;
}
.folders_folder{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    gap: 5px;
}
.folders_folder button {
    flex: 1;
    min-width: 0;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}