.search{
    flex: 1;
    max-width: 450px;
    min-width: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    background-color: var(--bgSecond);
    padding: 10px;

    border-radius: 15px;
}
.search__input{
    flex: 1;
    min-width: 0;
    height: 40px;

    padding: 10px;

    font-family: var(--font-main);
    font-weight: 500;
    font-size: 22px;
    color: var(--text);

    border: none;
    background-color: var(--bgSecond);
    outline: none;

    
}
.icon{
    color: var(--text);
}