.form{
    display:flex;
    flex-direction:column;

    flex:1;
    min-width:0;

    height:100%;

    padding:20px;

    box-sizing:border-box;

    background-color: var(--bg);
}

@media(max-width:768px){

    .form{
        padding:12px;
    }

}