.modal_notVisible{
    display: none;
}

.modal_visible{
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);

    z-index: 99999;
}

.modal_form{
    
    display: flex;
    flex-direction: column;
    
    gap: 20px;

    padding: 40px;

    background-color: var(--bg);
    color: var(--text);

    border-radius: 15px;
}
.form_h{
    font-size: 28px;
    font-family: var(--font-main);
    font-weight: 600;
}