.article{
    display: flex;
    flex-direction: column;

    position: relative;

    width: 420px;
    height: 83px;

    padding: 5px;

    background-color: var(--bgSecond);
    border-radius: 10px;
}

.article_h{
    color: var(--text);
    font-size: 20px;
    font-family: var(--font-main);
    font-weight: 600;

    margin-bottom: 10px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    width: 340px;
}
.p{
    font-size: 18px;
    width: 410px;

    color: var(--text);
    font-family: var(--font-main);
    font-weight: 400;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.article_buttonContainer{
    position: absolute;
    right: 5px;

    display: flex;
    flex-direction: row;
    gap: 2px;
}
.buttonContainer_button{
    border: none;
    background-color: var(--bgSecond);
    color: var(--text);

}
.buttonContainer_button:hover{
    cursor: pointer;

    color: #555252;
}