.Container{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;
}
.Container_header{
    width: 100%;
    height: 81px;
}
.Container_row{
    display:flex;

    flex:1;
    min-width:0;
    overflow:hidden;
}