.aside_notes{
    display: flex;
    flex-direction: column;

    padding: 10px;

    background-color: var(--bg);
    color: var(--text);

    border-right: 1px solid var(--border);

    height: 100%;
}
.notes_list{

    display: flex;
    flex-direction: column;
    gap: 3px;

    background-color: var(--bgSecond);

    border-radius: 15px;
    border: 1px solid var(--border);
    
    padding: 8px;

    overflow: hidden;

    margin-bottom: 21px;
}
.aside_addButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    background-color: var(--bgSecond);
    
    padding: 10px;

    border-radius: 15px;
}
.aside_h{
    margin-bottom: 11px;
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 22px;
    color: var(--text);
}
.none{
    display: none;
}