.button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    border: none;
    background-color: var(--bgSecond);

    color: var(--text);
    font-size: 24px;
    font-family: var(--font-main);
    font-weight: 500;

    cursor: pointer;
}

.hideText{
    display: inline;
}

@media (max-width:768px){

    .button{
        gap: 5px;
    }

    .hideText{
        display: none;
    }

}